.head {
  display: inline-block;
  padding-left: 30px;
  /*text-decoration:underline;*/

}
#monthlyCost {
  /*text-decoration: underline;*/
}
/*#idNumber {
  padding-left: 30px;
}

#jobTitle {
  padding-left: 30px;
}

#annualSalary {
  padding-left: 30px;
}

#monthlyExpenses {
  padding-left: 200px;
}*/
