.head, .container, {
  display: inline;
  /*padding-left: 30px;*/


}

input, #employees {
  display: inline;
}

li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
}

#monthlyCost {
  /*text-decoration: underline;*/
}
/*#idNumber {
  padding-left: 30px;
}

#jobTitle {
  padding-left: 30px;
}

#annualSalary {
  padding-left: 30px;
}

#monthlyExpenses {
  padding-left: 200px;
}*/
