.head, .container, {
  display: inline;
  /*padding-left: 30px;*/


}

label, input,  {
  display: inline;
}
#monthlyCost {
  /*text-decoration: underline;*/
}
/*#idNumber {
  padding-left: 30px;
}

#jobTitle {
  padding-left: 30px;
}

#annualSalary {
  padding-left: 30px;
}

#monthlyExpenses {
  padding-left: 200px;
}*/
